.btn{
    background-color: rgb(0, 19, 194);  
}

.jumbotron{    
    text-align: right;
    background-image: url("https://www.tokkoro.com/picsup/1259766-futuristic.jpg");
    background-size: cover;    
    background-position: center;
}

.navbar{
    background-color: rgb(0, 27, 150);;
}

#employeeLoginHeader{
    text-align: center;
}

#managerLoginHeader{
    text-align: center;
}

#registerLoginHeader{
    text-align: center;
}

#registerForm{
    
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    height: 460px;
    width: 430px;
    border: 3px solid rgb(0, 73, 121);
    background-color: rgb(0, 27, 150);
    padding: 10px;
}

#employeeForm{
    text-align: center;
    margin: auto;
    height: 245px;
    width: 430px;
    border: 3px solid rgb(0, 73, 121);
    background-color: rgb(0, 27, 150);
    padding: 10px;
}

#managerForm{
    text-align: center;
    margin: auto;
    height: 245px;
    width: 430px;
    border: 3px solid rgb(0, 73, 121);
    background-color: rgb(0, 27, 150);
    padding: 10px;
}

body{
    margin: auto;
    background-image: url('http://getwallpapers.com/wallpaper/full/6/8/9/154199.jpg');
    background-size: cover;
    background-position: center;
}



